.Level1 .image{
margin-top: 3%;
    height: 80%;
    margin-bottom: 20%;
}
.Level1 .image_container{
    height: 40rem;
}
.Level1 .name{
    font-size: x-large;
    padding: 10%;   
}
.Level1 .controlers{    
    margin-bottom: 20%;
}