.Level1 .image{
margin-top: 3%;
    height: 80%;
    margin-bottom: 20%;
}
.Level1 .image_container{
    border: 1px solid black;
    height: 20rem;
    width: 20rem;
}   
.Level1 .name{
    font-size: xx-large;
    padding: 10%;    
}
.Level1 .controlers{    
    margin-bottom: 20%;
}